@charset "UTF-8";

/**
 * Основные стили
 **/

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  word-wrap: break-word;

  overflow-wrap: break-word;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 970px, 15px);
}
@media screen and (max-width: 969px) {
  .wrap {
    box-sizing: border-box;
    width: 750px;
  }
}
@media screen and (max-width: 759px) {
  .wrap {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  .wrap {
    width: 320px;
  }
}
.rotate {
  -webkit-animation-name: cog;
     -moz-animation-name: cog;
      -ms-animation-name: cog;
          animation-name: cog;
  -webkit-animation-duration: 15s;
     -moz-animation-duration: 15s;
      -ms-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-ms-keyframes cog {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes cog {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes cog {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes cog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
