.works {
  padding-top: 35px;
  padding-bottom: 35px;

  background: #fafafa;
  &__title {
    h2 {
      margin-top: 0;
      margin-bottom: 35px;

      font-weight: 700;
      font-size: 50px;
      font-family: "Comfortaa", cursive;
      text-align: center;
      color: #6cb835;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      display: block;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 969px) {
  .works {
    &__list {
      width: 630px;
      margin-right: auto;
      margin-left: auto;
      a {
        img {
          max-width: 200px;
        }
        &:nth-of-type(4),
        &:nth-of-type(5) {
          img {
            max-width: 300px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 969px) {
  .works {
    &__list {
      width: 450px;
      margin-right: auto;
      margin-left: auto;
      a {
        img {
          max-width: 140px;
        }
        &:nth-of-type(4),
        &:nth-of-type(5) {
          img {
            max-width: 210px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 759px) {
  .works {
    h2 {
      font-size: 42px;
    }
    &__list {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      a {
        img {
          max-width: 100%;
        }
        &:nth-of-type(4),
        &:nth-of-type(5) {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
