.zakaz {
  position: relative;

  padding-top: 35px;
  padding-bottom: 35px;
  overflow: hidden;

  background-color: #fafafa;
  .wrap {
    position: relative;
    z-index: 2;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 35px;

    font-weight: 700;
    font-size: 50px;
    font-family: "Comfortaa", cursive;
    text-align: center;
    color: #6cb835;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    list-style-type: none;
    li {
      width: 300px;
      margin-bottom: 15px;

      line-height: 1.4;
      text-align: center;
      span {
        font-family: Roboto;
        color: #444444;
      }
      img {
        display: block;
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  &__text {
    max-width: 570px;
    margin-right: auto;
    margin-left: auto;

    font-size: 20px;
    text-align: center;
    color: #6cb835;
  }
  &__ventilator {
    top: -600px;
    right: -600px;
    left: auto;
    z-index: 1;

    .ventilator__rotate {
      background: url(../img/chill/02-fan-shadow.svg) center center no-repeat;
      background-size: 1200px 1200px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: linear-gradient(
      45deg,
      #fafafa 20%,
      transparent 50%,
      transparent 80%
      );
    }
  }
}
@media screen and (max-width: 969px) {
  .zakaz {
    &__list {
      width: 620px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
@media screen and (max-width: 759px) {
  .zakaz {
    h2 {
      font-size: 40px;
    }
    &__list {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      li {
        width: 215px;

        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .zakaz {
    &__list {
      li {
        width: 300px;
      }
    }
  }
}
